<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siwen.goods.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.siwen.common.api.vo.GoodsVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR"/>
        <result column="goods_title" property="goodsTitle" jdbcType="VARCHAR"/>
        <result column="goods_img" property="goodsImg" jdbcType="VARCHAR"/>
        <result column="goods_detail" property="goodsDetail" jdbcType="VARCHAR"/>
        <result column="goods_price" property="goodsPrice" jdbcType="DECIMAL"/>
        <result column="goods_stock" property="goodsStock" jdbcType="BIGINT"/>
        <result column="stock_count" property="secKillingStockCount" jdbcType="BIGINT"/>
        <result column="start_date" property="startDate" jdbcType="TIMESTAMP"/>
        <result column="end_date" property="endDate" jdbcType="TIMESTAMP"/>
        <result column="sec_killing_price" property="secKillingPrice" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="base_column">
        skg.id as id, goods_name, goods_title, goods_img, goods_detail, goods_price, goods_stock,stock_count,start_date,end_date,sec_killing_price
    </sql>

    <select id="getGoodsVoByGoodsId" resultMap="BaseResultMap">
        select
        <include refid="base_column"/>
        from sec_killing_goods skg left join goods on skg.goods_id = goods.id
        WHERE skg.goods_id = #{goodsId,jdbcType=BIGINT}
    </select>

    <update id="reduceStock">
        update sec_killing_goods
        set stock_count = stock_count - 1
        where goods_id = #{goodsId}
          and stock_count > 0
    </update>

</mapper>